
/* Your CSS Code here. */
.main{
    background-color: #7d306c;
}
.moviename{
    margin-top: 20px;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

.moviename p{

    margin: 80px;
    font-family: monospace;
    font-size: 20px;

    text-align:initial;
}

.navbar{
    background-color: rgb(76, 110, 143);
    margin-top: 60px;
    font-family: sans-serif;
}
.actor{
    display: flex;
    margin: 45px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(5, 11, 9);
    
}
.navbar button{
    display: flex;
    color: rgb(19, 84, 84);
    padding: 2%;
    margin: 2%;
    margin-left: 45% ;
    font-size: 40px;
    border-radius: 10px;
    border-color: rebeccapurple;
}
.navbar section li{
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}
.navbar nav div{
    text-align: center;
}
.quotes{
    font-family: monospace;
    display: flex;
}
.navbar aside{
    font-size:30px ;
    color: rgb(5, 11, 9);
    text-align:center;
}

.footer{
    margin: 60px;
    font-family: monospace;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.footer li{
    margin: 10px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 300;
    text-align: center;
}
.navbar button:hover{
    background-color: greenyellow;
    color: aliceblue;
}

.copyright {
    background-color: #01143e;
    border-top: 1px solid #423940;
    padding: 15px;
}

.copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(236, 241, 250);
}

.copyright a {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(236, 241, 250);
}