
/* Your CSS Code here. */
.main{
    background-color: #7498c7;
}
.moviename{
    margin-top: 20px;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}
.moviename header{
    color: red;
    font-weight: 1000;
    font-family:'Times New Roman', Times, serif;
}

.moviename p{
    color: aliceblue;
    margin: 80px;
    font-family: monospace;
    font-size: 20px;

    text-align:initial;
}

.navbar{
    background-color: #7498c7;
    margin-top: 60px;
    font-family: sans-serif;
}
.actor{
    display: flex;
    margin: 45px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(208, 237, 237);
    
}
.navbar button{
    display: flex;
    color: rgb(19, 84, 84);
    padding: 2%;
    margin: 2%;
    margin-left: 45% ;
    font-size: 40px;
    border-radius: 10px;
    border-color: rgb(103, 24, 183);
}
.navbar nav div{
    text-align: center;
}
.quotes{
    color: aliceblue;
    display: flex;
}
.quotes li{
    font-size: 25px;
    margin-left: 8%;
    margin-bottom: 40px;
    padding: 10px;
    text-align: justify;
    font-family: monospace;

}
.navbar aside{
    font-size:30px ;
    color: rgb(129, 210, 183);
    text-align:center;
}

.footer{
    margin: 60px;
    font-family: monospace;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.footer li{
    color: rgb(197, 209, 218);
    margin: 10px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 300;
    text-align: center;
}
.navbar button:hover{
    background-color: greenyellow;
    color: aliceblue;
}

.copyright {
    background-color: #4e7ee5;
    border-top: 1px solid #88a0ef;
    padding: 15px;
}

.copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(236, 241, 250);
}

.copyright a {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(236, 241, 250);
}